<div class="background-div">
  <div class="container">
    <div class="row">
      <div class="col-md-8 question-detail">
        <%= render 'question', :question => @question, :answers => @question.answers.order('created_at DESC'), :full => true %>
      </div>
      <div class="col-md-4 side-bar">
        <%= render 'layouts/sidebar'%>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "questions_script", "data-turbolinks-track" => true  %>