<%= render 'layouts/sidemenu_articles'%>
  <div class="col-sm-6" style="margin-left:">
    <% if @article_requests.length == 0 %>
      <h3>No Articles were Requested</h3>
    <%else%>
      <% @article_requests.each do |article_request| %>
        <%= render 'article_request', :article_request => article_request, :full => false %>
        <hr>
      <% end %>
  </div>
  <div class="col-sm-3" style="">
    <%= render 'layouts/sidebar_articles'%>
  </div>
    <%end%>
  </div>
