<%= render 'layouts/sidemenu_articles'%>
  <div class="col-sm-6" style="margin-left:">
    <% if @articles.length == 0 %>
      <h3>No Articles Available</h3>
    <%else%>
        <% @articles.each do |article| %>
          <%= render 'article', :article => article, :full => false %>
          <hr>
        <% end %>
      <%end%>
  </div>
  <div class="col-sm-3" style="">
    <%= render 'layouts/sidebar_articles'%>
  </div>
