<div class="container main-wall">
  <div class="row">
    <!-- Leftbar  -->
    <div class="col-xs-2">
      <%= render 'layouts/leftbar'%>
    </div>

    <!-- New article area -->
    <div class="col-xs-7">
      <%= render 'article', :article => @article, :full => true %>
    </div>

    <!-- Suggestions -->
    <div class="col-xs-3">
      <%= render 'layouts/suggestions'%>
    </div>
  </div>
</div>