<div class="background-div">
  <div class="container">
    <div class="row">
      <div class="col-md-8 question-detail">
        <%= render 'contest', :contest => @contest, :contest_answers => @contest.contest_answers, :is_admin => @is_admin, :full => true %>
      </div>
      <div class="col-md-4 side-bar">
        <%= render 'layouts/sidebar'%>
      </div>
    </div>
  </div>
</div>

<!-- Rendering modals -->
<%= render 'layouts/contest_modals' %>

<script type="text/javascript">
  // Answering a contest
  $("[id^=answerC]").click(function() {
    contest_id = this.id.substring(7, this.id.length)
    $("#contest-header").html($("#contest_content"+contest_id).val())
    $("#contest_answer_contest_id").val(contest_id)
    $('#contestAnswerModal').modal('show');
  })

  // Editing a contest
  $("[id^=edit_contest").click(function() {
    contest_id = this.id.substring(12, this.id.length)
    $("#new_contest_content").val($('#contest_content'+contest_id).val())
    $("#new_contest_detail").val($('#contest_detail'+contest_id).text())
    $('#editContestModal').modal('show');
  })

  // Updating a contest
  $("#new_contest_submit").click(function() {
    const contest_content = $("#new_contest_content").val()
    const contest_detail = $("#new_contest_detail").val()

    // Sending ajax request to follow the contest
    $.ajax({
      url: "/update_contest",
      type: "POST",
      data: {
        contest_id: contest_id,
        contest_content: contest_content,
        contest_detail: contest_detail
      },
      dataType: "json",
      complete: function() {},
      success: function(data, textStatus, xhr) {
        $('#editContestModal').modal('hide')

        if (data.status.localeCompare("success") == 0) {
          alert("updated")
          location.reload()
        } else {
          alert("failed to update")
        }
      },
      error: function() {
        alert("error")
      }
    })
  })
</script>