<div class="container main-wall">
  <div class="row">
    <!-- Leftbar  -->
    <div class="col-xs-2">
      <%= render 'layouts/leftbar'%>
    </div>

    <!-- Contests area -->
    <div class="col-xs-7">
      <div class="contests-area">
        <% @causes.each do |cause| %>
          <%= render 'cause', :cause => cause, :cause_comments => cause.cause_comments, :full => false %>
        <% end %>
      </div>
    </div>

    <!-- Suggestions -->
    <div class="col-xs-3">
      <%= render 'layouts/suggestions'%>
    </div>
  </div>
</div>

<%= javascript_include_tag "causes_script", "data-turbolinks-track" => true  %>