<%if user_signed_in?%>
<div class="background-div">
  <div class="">
   
    <div class="row">
       <div class="col-xs-2 col-xs-offset-1">
      <%= render 'layouts/side_menu'%>
    </div>
      <div class="col-md-8">
        <% @causes.each do |cause| %>
          <%= render 'cause', :cause => cause, :cause_comments => cause.cause_comments, :full => false %>
        <% end %>
         <!--/.box -->
      </div>
      <div class="col-md-4">
        <%= render 'layouts/cause_suggestion'%>
      </div>
    </div>
  </div>
</div>
<%else%>
  <div class="background-div">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <% @causes.each do |cause| %>
                <%= render 'cause', :cause => cause, :cause_comments => cause.cause_comments, :full => false %>
              <% end %>
         <!--/.box -->
          </div>
        </div>
      </div>
    </div>
<%end%>



