<div class="main-login">
  <div class="row">
    <div class="col-md-3 col-md-offset-8 login-div">
      <div class="row">
        <div class="login-heading">
          <h1>Login</h1>
          <!--login heading   -->
        </div>
      </div>
      <div class="row">
        <div class="form-fields">
          <!-- here the form will come by usign erb -->
        </div>
      </div>
      <!-- for button of login -->
      <div class="row">
        <center>
          <!-- use for the button using rb -->
        </center>
      </div>
      <div class="row">
        <div class="pull-right">
          <!-- signup small heading -->
        </div>
      </div>
    </div>
    <div class="">
    </div>
  </div>
</div>
