// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.following {
	color: blue
}

.question-area {
  margin-left: 2em;
}

.thumb {
  width: 50px;
}

.btn.btn-default {
  font-size: 12px;
  padding: 5px; 
}

.question-content > a {
  color: black;
}

.question-content > a:hover {
  color: black;
  text-decoration: underline;
}