/*default styles*/
a:hover {
  color:#AAAAAA;
}

/*navbar*/
.btn-ask{
  background-color:#212121;
  color:#fff;
}
.button-group-nav{
  display: inline;
}
.btn-ask:hover {
  background-color: #fff;
  border: 1px solid #212121;
}
.btn-ask1{
  background-color:#212121;
  color:#fff;
  margin-left: 13px;
}
.btn-ask1:hover{
  background-color: #fff;
  border: 1px solid #212121;
}
.nav-bar{
  border: 1px solid #383838;
}
.project-name{
  font-size: 46px;
  padding-left: 10px;
  color: #383838;
  font-family: sans-serif;
}
#search-bar{
width: 300px;
height: 35px;
padding-bottom: 3px;
}
.search-field {
  border: none;
}
.sizing-addon{
  background-color: #fff;
}
.search-field:hover {
  border: 1px solid blue;
}
.btn-nav {
  border-radius:20px;
  width: 40px;
  height:37px;
  background-color:#212121;
  color:#fff;
  margin-left: 1em;
}
.btn-nav:hover {
  background-color: #fff;
  border: 1px solid #212121;
}
/*sign up and login page*/
input[type="text"] {
  background-color : #455A64;
  border-bottom: 1px solid #BDBDBD;
  color: #FFF;

}
input[type="email"] {
  background-color : #455A64;
  border-bottom: 1px solid #BDBDBD;

}
input[type="password"] {
  background-color : #455A64;
  border-bottom: 1px solid #BDBDBD;

}
input[type="file"] {
  background-color : #00BCD4;;
  border-bottom: 1px solid #BDBDBD;
  border: 1px solid #00BCD4;
  color:#fff;
}


.main-login {
  background: url("login_page.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.login-heading {
  font-size: 48px;
  font-family: sans-serif;
  color:#fff;
  margin-left: 1.1em;
  padding-bottom: 10px;
}

.form-fields {
  width: 382px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
  border-bottom: 1px solid #BDBDBD;
  border: none;
  border-color: transparent;
}
.login-div {
  background-color:#455A64;
  width: 300px;
  height:460px;
  color:#9E9E9E;
  font-size: 12px;
}
.login-div1 {
  background-color:#455A64;
  width: 300px;
  height:400px;
  color:#9E9E9E;
  font-size: 12px;
}
.row .fields {
  margin-left: 3.3em;
}
.btn-login {
  width: 382px;
  height: 48px;
  border: 1px outset #009688;
  background-color: #009688;
  color: #fff;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.btn-login:hover{
  background-color: #19a093;
  color:#fff;
}
.row .sign-in {
   margin-left: 3.3em;
}
.row .remember {
    padding-left: 4.3em;
}
.tagline {
  font-size: 55px;
  color:#fff;
  font-family: sans-serif;
  padding-left: 20px;
  margin-top: -2.8em;
}
.tagline_1 {
  font-size: 38px;
  color:#fff;
  font-family: sans-serif;
  padding-left: 20px;
}
/*main page*/
.left-bar{
  border: 1px solid #383838;
  padding-left: 5px;
  margin-left: 20px;
}
.left-bar-link{
  color:#555555;
  font-weight: bold;
  font-size: 15px;
}
.question-area {
  border: 1px solid #383838;
  margin-left: 40px;
}
.suggestions {
  border: 1px solid #383838;
  margin-left: 40px;
}
.heading-7{
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color: #383838;
  padding-bottom: 10px;
  padding-top: 1em;
}
.main-wall{
  margin-top: 2em;
}
.icons{
  margin-left: 15px;
  margin-bottom: 10px;
}
#icon-text{
  margin-top: -2em;
  margin-left: 5px;
}
#icon-sub-text {
  color: #383838;
  font-style: italic;
  font-size: 12px;
  margin-left:8px;
}
#icon-sub-text:hover {
  color:#AAAAAA;
  text-decoration:none;
}
#icon-text:hover{
  color:#AAAAAA;
  text-decoration:none;
}
.glyphicon.glyphicon-comment{
  font-size: 40px;
  border: 1px solid #383838;
  color: #C6C6C6;
}
.glyphicon.glyphicon-heart{
  font-size: 40px;
  border: 1px solid #383838;
  color: #C6C6C6;
}
.glyphicon.glyphicon-globe {
  font-size: 40px;
  border: 1px solid #383838;
  color: #C6C6C6;
}
.glyphicon.glyphicon-edit{
  font-size: 40px;
  border: 1px solid #383838;
  color: #C6C6C6;
}

/*question area*/
.question-content{
  font-size: 18px;
  font-weight: bold;
  font-color:#383838;
}
.question-details{
  font-size: 16px;
  font-style: italic;
  font-color:#383838;

}
.question-image{
  background:url("question-image.jpg");
  width:400px;
  height: 200px;
}
#views{
  font-size: 13px;
  font-family: serif;
  font-color:#383838;
}
#answers{
  font-size: 14px;
  font-family: sans-serif;
  font-color:#383838;
}
#Upvote{
  color:#83AAE5;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
}
#Downvote{
  color:#83AAE5;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
}
/*modal*/
.pull-left{
  margin-left: 80px;
}
.pull-right{
  margin-right: 80px;
}
.modal-dialog{
  width:50%;
}
.modal-body {
    height: 300px;
}
#map-results {
  margin-left:5em;
}
#samecost {
  margin-left:5em;
}
#nextcost {
  margin-left:5em;
}
#ask-question{
  width: 360px;
  border: none;
  background-color: #fff;
  color:#212121;
  border-bottom: 1px solid #BDBDBD;
}
.question-ask-field {
  border: none;
  border-bottom: 1px solid #BDBDBD;

}
.question-ask-field:hover {
  border: none;
  outline:none;
  border-bottom: 1px solid #0099CC;
}
.btn-image-field{
  height: 60px;
  width: 60px;
  color:#00BCD4;
  border-radius: 80%;
}
.glyphicon.glyphicon-upload{
  font-size: 40px;
  border: 1px solid #00BCD4;
  color:#00BCD4;
}
