/*default styles*/
a:hover {
  color:#AAAAAA;
}

/*navbar*/
.btn-ask{
  background-color:#212121;
  color:#fff;
}
.button-group-nav{
  display: inline;
}
.btn-ask:hover {
  background-color: #fff;
  border: 1px solid #212121;
}
.btn-ask1{
  background-color:#212121;
  color:#fff;
  margin-left: 13px;
}
.btn-ask1:hover{
  background-color: #fff;
  border: 1px solid #212121;
}
.nav-bar{
  border-bottom: 1px solid #383838;
  background-color: white;
  padding-bottom: 0.6em;
}
.project-name{
  font-size: 46px;
  padding-left: 10px;
  color: #383838;
  font-family: sans-serif;
}
.search-field {
  border: none;
}
.sizing-addon {
  background-color: #fff;
}
.search-field:hover {
  border: 1px solid blue;
}
.btn-nav {
  border-radius:20px;
  width: 42px;
  height: 37px;
  background-color:#212121;
  color: #fff;
  margin-left: 1em;
}

.btn-nav:hover {
  background-color: #fff;
  border: 1px solid #212121;
}

.main-login {
  background: url("login_page.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.login-heading {
  font-size: 48px;
  font-family: sans-serif;
  color:#fff;
  margin-left: 1.1em;
  padding-bottom: 10px;
}

.form-fields {
  width: 382px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
  border-bottom: 1px solid #BDBDBD;
  border: none;
  border-color: transparent;
}
.login-div {
  background-color:#455A64;
  width: 300px;
  height:460px;
  color:#9E9E9E;
  font-size: 12px;
}
.login-div1 {
  background-color:#455A64;
  width: 300px;
  height:400px;
  color:#9E9E9E;
  font-size: 12px;
}
.row .fields {
  margin-left: 3.3em;
}
.btn-login {
  width: 382px;
  height: 48px;
  border: 1px outset #009688;
  background-color: #009688;
  color: #fff;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.btn-login:hover{
  background-color: #19a093;
  color:#fff;
}
.row .sign-in {
   margin-left: 3.3em;
}
.row .remember {
    padding-left: 4.3em;
}
.tagline {
  font-size: 55px;
  color:#fff;
  font-family: sans-serif;
  padding-left: 20px;
  margin-top: -2.8em;
}
.tagline_1 {
  font-size: 38px;
  color:#fff;
  font-family: sans-serif;
  padding-left: 20px;
}
/*main page*/
.left-bar{
  border-right: 1px solid #383838;
  padding-left: 5px;
  margin-left: 20px;
}
.left-bar-link{
  color:#555555;
  font-weight: bold;
  font-size: 15px;
}

.suggestions {
  border-left: 1px solid #383838;
  margin-left: 30px;
  padding-left: 0.8em;
}
.heading-7{
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color: #383838;
  padding-bottom: 10px;
  padding-top: 1em;
}
.main-wall{
  margin-top: 2em;
}

.icons{
  margin-left: 15px;
  margin-bottom: 10px;
}

.icon-text {
  color: black;
  cursor: pointer;
}

.icon-text:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

div[id^="menu-item"] > p > a {
    color: #AAAAAA;
}

div[id^="menu-item"] > p > a:hover {
    color: #797676;
}

#icon-sub-text {
  color: #383838;
  font-style: italic;
  font-size: 12px;
  margin-left:8px;
}

#icon-sub-text:hover {
  color: #AAAAAA;
  text-decoration:none;
}

.icons.glyphicon {
  font-size: 40px;
  border: 1px solid #383838;
  color: #C6C6C6;
}


/*question area*/
.question-content {
  font-size: 18px;
  font-weight: bold;
  color: #383838;
}

.question-details{
  font-size: 16px;
  font-style: italic;
  color: #383838;
}

#views{
  font-size: 13px;
  font-family: serif;
  color:#383838;
}
#answers{
  font-size: 14px;
  font-family: sans-serif;
  color:#383838;
}
#Upvote{
  color:#83AAE5;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
}
#Downvote{
  color:#83AAE5;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
}
/*modal*/
.pull-left{
  margin-left: 80px;
}
.pull-right{
  margin-right: 80px;
}
.modal-dialog {
  width:50%;
}
#map-results {
  margin-left:5em;
}
#samecost {
  margin-left:5em;
}
#nextcost {
  margin-left:5em;
}
#ask-question{
  width: 360px;
  border: none;
  background-color: #fff;
  color:#212121;
  border-bottom: 1px solid #BDBDBD;
}
.question-ask-field {
  border: none;
  border-bottom: 1px solid #BDBDBD;

}
.question-ask-field:hover {
  border: none;
  outline:none;
  border-bottom: 1px solid #0099CC;
}
.btn-image-field{
  height: 60px;
  width: 60px;
  color:#00BCD4;
  border-radius: 80%;
}
.glyphicon.glyphicon-upload {
  font-size: 40px;
  border: 1px solid #00BCD4;
  color:#00BCD4;
}
/*multistepped form*/
/*MULTIPLE TABS FORM*/
.shipingimg {
  height: 100px;
  width: 100px;
}
.shippingthumb {
  height: 140px;
  width: 340px;
}
.wizard {
    margin: 20px auto;
    background: #f5f5f5;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 10px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 19%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.wizard {
    width: 90%;
    height: auto !important;
}

span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
}

/*ended*/
/*causes*/
.cause_quote{
  border-right: 1px solid #aaaaaa;
}
