.sign{
  width:270px;
}

.btn-secondary1{
  background-color: #C0392B;
  color:#fff;
}

/*navbar*/
.btn-ask{
  background-color:#212121;
  color:#fff;
}
.button-group-nav{
  display: inline;
}
.btn-ask:hover {
  background-color: #fff;
  border: 1px solid #212121;
}
.btn-ask1{
  background-color:#C0392B;
  color:#fff;
  margin-left: 13px;
}
.btn-ask1:hover{
  background-color: #fff;
  border: 1px solid #C0392C;
  color:#C0392C;
  
}
.btn-cause{
  background-color:#C0392B;
  color:#fff;
  margin-left: 13px;
  margin-top: 2em;
  border: 2px dashed #C0392B;
}
.btn-cause:hover{
  background-color: #fff;
  border: 1px solid #C0392B;
  color:#C0392B;
}
.btn-cause1{
  background-color:#C0392B;
  color:#fff;
  margin-left: 13px;
  margin-top: 2em;
  border: 2px dashed #C0392B;
  width:120px;
}
.btn-cause1:hover{
  background-color: #fff;
  border: 1px solid #C0392B;
  color:#C0392B;
}
.nav-bar{
  margin-top:-0.6em;
  /*border-bottom: 1px solid #383838;*/
  background-color: #fff;
  padding-bottom: 0.6em;
  background-color: #C0392B;
}
.project-name a{
  font-size: 30px;
  padding-left: 16px;
  color: #fff;
  font-family: sans-serif;
  text-decoration:none;
  
  
}
.project-name a:hover{

  color: #C0392B !important;
  text-decoration:none !important;
}

.search-field {
  border: none;
}
.sizing-addon {
  background-color: #fff;
}
.search-field:hover {
  border: 1px solid blue;
}
.btn-nav {
  border-radius:20px;
  width: auto;
  height: 37px;
  background-color:#C0392B;
  color: #fff;
  margin-left: 3px;
  
}

.btn-nav:hover {
  background-color: #fff;
  border: 1px solid #C0392C;
  color:#C0392C;
}

.main-login {
  background: url("login_page.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.login-heading {
  font-size: 48px;
  font-family: sans-serif;
  color:#fff;
  margin-left: 1.1em;
  padding-bottom: 10px;
}

.form-fields {
  width: 382px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
  border-bottom: 1px solid #BDBDBD;
  border: none;
  border-color: transparent;
}
.login-div {
  background-color:#455A64;
  width: 300px;
  height:460px;
  color:#9E9E9E;
  font-size: 12px;
}
.login-div1 {
  background-color:#455A64;
  width: 300px;
  height:400px;
  color:#9E9E9E;
  font-size: 12px;
}
.row .fields {
  margin-left: 3.3em;
}
.btn-login {
  width: 382px;
  height: 48px;
  border: 1px outset #009688;
  background-color: #009688;
  color: #fff;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.btn-login:hover{
  background-color: #19a093;
  color:#fff;
}
.row .sign-in {
   margin-left: 3.3em;
}
.row .remember {
    padding-left: 4.3em;
}
.tagline {
  font-size: 55px;
  color:#fff;
  font-family: sans-serif;
  padding-left: 20px;
  margin-top: -2.8em;
}
.tagline_1 {
  font-size: 38px;
  color:#fff;
  font-family: sans-serif;
  padding-left: 20px;
}
/*main page*/
/*.left-bar{*/
/*  border-right: 1px solid #bdc3c7;*/
/*  margin-left: 0px;*/
/*  padding-left: -1em;*/
/*}*/
/*.left-bar-link{*/
/*  color:#555555;*/
/*  font-weight: bold;*/
/*  font-size: 15px;*/
/*}*/

/*.suggestions {*/
/*  border-left: 1px solid #bdc3c7;*/
/*  margin-left: 30px;*/
/*  padding-left: 0.8em;*/
/*}*/
/*.heading-7{*/
/*  font-size: 14px;*/
/*  font-weight: bold;*/
/*  font-family: sans-serif;*/
/*  color: #383838;*/
/*  padding-bottom: 10px;*/
/*  padding-top: 1em;*/
/*}*/
/*.main-wall{*/
/*  margin-top: 2em;*/
/*}*/

/*.icons{*/
/*  margin-left: 15px;*/
/*  margin-bottom: 10px;*/
/*}*/

/*.icon-text {*/
/*  color: black;*/
/*  cursor: pointer;*/
/*}*/

/*.icon-text:hover {*/
/*  color: black;*/
/*  text-decoration: underline;*/
/*  cursor: pointer;*/
/*}*/

/*.icon-text-reply {*/
/*  color: black;*/
/*  cursor: pointer;*/
/*  background-color: #2865a1;*/
/*  border: 1px solid #245a90 ;*/
/*}*/

/*div[id^="menu-item"] > p > a {*/
/*    color: #AAAAAA;*/
/*}*/

/*div[id^="menu-item"] > p > a:hover {*/
/*    color: #797676;*/
/*}*/

/*#icon-sub-text {*/
/*  color: #383838;*/
/*  font-style: italic;*/
/*  font-size: 12px;*/
/*  margin-left:8px;*/
/*}*/

/*#icon-sub-text:hover {*/
/*  color: #AAAAAA;*/
/*  text-decoration:none;*/
/*}*/

/*.icons.glyphicon {*/
/*  font-size: 20px;*/
/*  color: #C6C6C6;*/
/*}*/


/*question area*/
/*.question-content {*/
/*  font-size: 18px;*/
/*  font-weight: bold;*/
/*  color: #383838;*/
/*  text-decoration:none;*/
/*}*/

/*.question-details{*/
/*  font-size: 17px;*/
/*  font-style: normal;*/
/*  color: #383838;*/
/*}*/

/*#views{*/
/*  font-size: 13px;*/
/*  font-family: serif;*/
/*  color:#383838;*/
/*}*/
/*#answers{*/
  
/*  font-size: 14px;*/
/*  font-family: sans-serif;*/
/*  color:#383838;*/
/*}*/
/*#Upvote{*/
/*  color:#83AAE5;*/
/*  font-size: 16px;*/
/*  font-family: sans-serif;*/
/*  cursor: pointer;*/
/*}*/
/*#Downvote{*/
/*  color:#83AAE5;*/
/*  font-size: 16px;*/
/*  font-family: sans-serif;*/
/*  cursor: pointer;*/
/*}*/
/*modal*/
/*.pull-left{*/
/*  margin-left: 80px;*/
/*}*/
/*.pull-right{*/
/*  margin-right: 80px;*/
/*}*/
/*.modal-dialog {*/
/*  width:50%;*/
/*}*/
/*#map-results {*/
/*  margin-left:5em;*/
/*}*/
/*#samecost {*/
/*  margin-left:5em;*/
/*}*/
/*#nextcost {*/
/*  margin-left:5em;*/
/*}*/
/*#ask-question{*/
/*  width: 360px;*/
/*  border: none;*/
/*  background-color: #fff;*/
/*  color:#212121;*/
/*  border-bottom: 1px solid #BDBDBD;*/
/*}*/
/*.question-ask-field {*/
/*  border: none;*/
/*  border-bottom: 1px solid #BDBDBD;*/

/*}*/
/*.question-ask-field:hover {*/
/*  border: none;*/
/*  outline:none;*/
/*  border-bottom: 1px solid #0099CC;*/
/*}*/
/*.btn-image-field{*/
/*  height: 60px;*/
/*  width: 60px;*/
/*  color:#00BCD4;*/
/*  border-radius: 80%;*/
/*}*/
/*.glyphicon.glyphicon-upload {*/
/*  font-size: 40px;*/
/*  border: 1px solid #00BCD4;*/
/*  color:#00BCD4;*/
/*}*/
/*multistepped form*/
/*MULTIPLE TABS FORM*/
/*.shipingimg {*/
/*  height: 100px;*/
/*  width: 100px;*/
/*}*/
/*.shippingthumb {*/
/*  height: 140px;*/
/*  width: 340px;*/
/*}*/
/*.wizard {*/
/*    margin: 20px auto;*/
/*    background: #f5f5f5;*/
/*}*/

/*    .wizard .nav-tabs {*/
/*        position: relative;*/
/*        margin: 10px auto;*/
/*        margin-bottom: 0;*/
/*        border-bottom-color: #e0e0e0;*/
/*    }*/

/*    .wizard > div.wizard-inner {*/
/*        position: relative;*/
/*    }*/

/*.connecting-line {*/
/*    height: 2px;*/
/*    background: #e0e0e0;*/
/*    position: absolute;*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 50%;*/
/*    z-index: 1;*/
/*}*/

/*.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {*/
/*    color: #555555;*/
/*    cursor: default;*/
/*    border: 0;*/
/*    border-bottom-color: transparent;*/
/*}*/

/*span.round-tab {*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    line-height: 70px;*/
/*    display: inline-block;*/
/*    border-radius: 100px;*/
/*    background: #fff;*/
/*    border: 2px solid #e0e0e0;*/
/*    z-index: 2;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    text-align: center;*/
/*    font-size: 25px;*/
/*}*/
/*span.round-tab i{*/
/*    color:#555555;*/
/*}*/
/*.wizard li.active span.round-tab {*/
/*    background: #fff;*/
/*    border: 2px solid #5bc0de;*/

/*}*/
/*.wizard li.active span.round-tab i{*/
/*    color: #5bc0de;*/
/*}*/

/*span.round-tab:hover {*/
/*    color: #333;*/
/*    border: 2px solid #333;*/
/*}*/

/*.wizard .nav-tabs > li {*/
/*    width: 19%;*/
/*}*/

/*.wizard li:after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    left: 46%;*/
/*    opacity: 0;*/
/*    margin: 0 auto;*/
/*    bottom: 0px;*/
/*    border: 5px solid transparent;*/
/*    border-bottom-color: #5bc0de;*/
/*    transition: 0.1s ease-in-out;*/
/*}*/

/*.wizard li.active:after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    left: 46%;*/
/*    opacity: 1;*/
/*    margin: 0 auto;*/
/*    bottom: 0px;*/
/*    border: 10px solid transparent;*/
/*    border-bottom-color: #5bc0de;*/
/*}*/

/*.wizard .nav-tabs > li a {*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    margin: 20px auto;*/
/*    border-radius: 100%;*/
/*    padding: 0;*/
/*}*/

/*    .wizard .nav-tabs > li a:hover {*/
/*        background: transparent;*/
/*    }*/

/*.wizard .tab-pane {*/
/*    position: relative;*/
/*    padding-top: 50px;*/
/*}*/

/*.wizard h3 {*/
/*    margin-top: 0;*/
/*}*/

/*.wizard {*/
/*    width: 90%;*/
/*    height: auto !important;*/
/*}*/

/*span.round-tab {*/
/*    font-size: 16px;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*}*/

/*.wizard .nav-tabs > li a {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*}*/

/*.wizard li.active:after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    left: 35%;*/
/*}*/

/*ended*/
/*causes*/
/*.cause_quote{*/
/*  border-right: 1px solid #aaaaaa;*/
/*}*/

/*bnew*/
/*@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
body
{
    font-family: 'Open Sans', sans-serif;
    }
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
.btn-default{
  background-color:#222 !important;
  color:#fff !important;
}
.btn-default:hover{
  background-color:#C0392B !important;
  color:#fff !important;
}

generic styles ended
.popup-box-on {
    display: block !important;
}
.off {
    display: none;
}
.chat_box .chat_message_wrapper ul.chat_message > li + li {
    margin-top: 4px;
}

#search.open {
    opacity: 1;
    transform: translate(0px, 0px) scale(1, 1);
}
#search {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 2000;

}
#search .close {
    color: #be5254;
    font-size: 40px;
    opacity: 1;
    padding: 10px 17px;
    position: fixed;
    right: 15px;
    top: 15px;
}
button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
}
.close {
    float: right;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

#search input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    font-family: "Open Sans",sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin: -51px auto 0;
    outline: medium none;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
#search .btn {
    left: 50%;
    margin-top: 60px;
    padding: 10px 50px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}
nav {
    background: #be5254 none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 151px !important;
}
.s-icon a {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 40px !important;
    color: #be5254 !important;
    font-size: 26px;
    height: 44px;
    margin: 3px -12px 0 0;
    padding: 7px 0 0 !important;
    text-align: center;
    width: 44px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 50px;
     color: #be5254 !important;
    height: auto;
    margin: 3px 0 2px -12px !important;
    padding: 12px 20px !important;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 153px;
    font-size: 29px;
}
.btn-site {
    background: #be5254 none repeat scroll 0 0;
    color: #fff !important;
}
admin lte
.box-widget {
  border: none;
  position: relative;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.box-body h3 a{
  font-weight: 600;
  text-decoration:none;
  color:#222;
}
.panel-heading h3{
  font-weight: 600;
  
  color:#222;
}
.headingcause a{
  font-size:25px;
  font-weight:600;
  text-decoration:none;
  color:#222;
}
.headingcause a:hover{
  text-decoration:none;
  color:#C0392B;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.user-block:before,
.user-block:after {
  content: " ";
  display: table;
}
.user-block:after {
  clear: both;
}
.user-block img {
  width: 40px;
  height: 40px;
  float: left;
}
.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}
.user-block .username {
  font-size: 16px;
  font-weight: 600;
}
.user-block .description {
  color: #999;
  font-size: 13px;
}
.user-block.user-block-sm .username,
.user-block.user-block-sm .description,
.user-block.user-block-sm .comment {
  margin-left: 40px;
}
.user-block.user-block-sm .username {
  font-size: 14px;
}
.img-sm,
.img-md,
.img-lg,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  float: left;
}
.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  width: 30px !important;
  height: 30px !important;
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}

.pad {
  padding: 10px;
}
blogs
.content,.about-content,.contact-content,.single{
border-top:1px solid #d2d2d2;
border-bottom:1px solid #d2d2d2;
}
.content-main {
padding-left:0;
width:60%;
}
.content-grids {
margin-top: 4em;
}
.post-info{
background:#fff;
padding:2em;
}
.post-info h4{
color:#222;
font-family: 'Lato', sans-serif;
font-size:0.8em;
margin-bottom:1em;
}
.post-info h4 a{
font-size:1.7em;
color:#222;
margin-right:0.7em;
display:inline-block;
text-decoration:none;
font-family: 'Oswald', sans-serif;
font-weight:400;
text-transform:uppercase;
}
.post-info h4 a:hover{
color: #4a5054;
}
.post-info p{
font-family: 'Lato', sans-serif;
color:#9a9da0;
font-size:0.9em;
line-height:1.5em;
margin-bottom:1em;
}
.post-info a span {
background: url(../images/more.png) no-repeat 0px 3px;
height: 18px;
width: 15px;
display: inline-block;
margin-right: 7px;
}
.post-info a {
color: #626465;
font-weight: 400;
font-size: 1em;
display: inline-block;
text-decoration: none;
}
.post-info a:hover{
color:#00aeff;
}
/*==================================================*/
 /** Effect 2*/
 /** ===============================================*/
.content-grid-info{
  position: relative;
  margin-bottom: 3em;
}
.post-info:before, .post-info:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.post-info:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
h5.head {
	color:#fff;
	font-size:1.35em;
	text-transform:uppercase;
	font-weight:300;
	font-family: 'Antonio-Regular';
	background:#C0392B;
	width:20%;
	padding:7px;
	text-align:center;
	margin-top: -1px;
}


/*flor causes*/
.panel-heading{
  background-color:#fff !important;
  color:#222;
}
.cause-heading{
  color:#C0392B;
  font-weight: 500;
}
.cause-panel-heading{
  height: 46px !important;
}
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.nav-tabs li a {
  color:#C0392B;
}
edned
profile
.box.box-primary {
  border-top-color: #3c8dbc;
}
nav tabs
.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.nav-tabs-custom > .nav-tabs {
  margin: 0;
  border-bottom-color: #f4f4f4;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.nav-tabs-custom > .nav-tabs > li {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}
.nav-tabs-custom > .nav-tabs > li > a {
  color: #444;
  border-radius: 0;
}
.nav-tabs-custom > .nav-tabs > li > a.text-muted {
  color: #999;
}
.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:hover {
  background: transparent;
  margin: 0;
}
.nav-tabs-custom > .nav-tabs > li > a:hover {
  color: #999;
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
  border-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #C0392B;
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: #fff;
  color: #C0392B;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-top-color: transparent;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type {
  margin-left: 0;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
  border-left-color: transparent;
}
.nav-tabs-custom > .nav-tabs.pull-right {
  float: none !important;
}
.nav-tabs-custom > .nav-tabs.pull-right > li {
  float: right;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
  margin-right: 0;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
  border-left-width: 1px;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
  border-left-color: #f4f4f4;
  border-right-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.header {
  line-height: 35px;
  padding: 0 10px;
  font-size: 20px;
  color: #444;
}
.nav-tabs-custom > .nav-tabs > li.header > .fa,
.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
.nav-tabs-custom > .nav-tabs > li.header > .ion {
  margin-right: 5px;
}
.nav-tabs-custom > .tab-content {
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nav-tabs-custom .dropdown.open > a:active,
.nav-tabs-custom .dropdown.open > a:focus {
  background: transparent;
  color: #999;
}
.nav-tabs-custom.tab-primary > .nav-tabs > li.active {
  border-top-color: #3c8dbc;
}
.nav-tabs-custom.tab-info > .nav-tabs > li.active {
  border-top-color: #00c0ef;
}
.nav-tabs-custom.tab-danger > .nav-tabs > li.active {
  border-top-color: #dd4b39;
}
.nav-tabs-custom.tab-warning > .nav-tabs > li.active {
  border-top-color: #f39c12;
}
.nav-tabs-custom.tab-success > .nav-tabs > li.active {
  border-top-color: #00a65a;
}
.nav-tabs-custom.tab-default > .nav-tabs > li.active {
  border-top-color: #d2d6de;
}

ended
timeline
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ddd;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
.timeline > li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 0;
  background: #fff;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}
.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  padding: 10px;
  font-size: 12px;
}
.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  font-size: 16px;
  line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header > a {
  font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
  padding: 10px;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}
.timeline > .time-label > span {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
}
.timeline-inverse > li > .timeline-item {
  background: #f0f0f0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.timeline-inverse > li > .timeline-item > .timeline-header {
  border-bottom-color: #ddd;
}
ended
profile user img
.profile-user-img {
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid #d2d6de;
}
.profile-username {
  font-size: 21px;
  margin-top: 5px;
}
.post {
  border-bottom: 1px solid #d2d6de;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #666;
}
.post:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.post .user-block {
  margin-bottom: 15px;
}

edned
.nav-tabs > li.active {
  border-top-color: #C0392B;
}
.btn-block{
  background-color:#C0392B;
  border-color:#C0392B;
}
.btn-block:hover{
  background-color:#fff;
  color:#C0392B;
  border-color:#C0392B;
}

side bar
.grid_1_of_2{
	margin-top:15px;
	background: #ffffff;
  margin-top:-1em;
  margin-left:1.5em;
  padding-left: 1.5em;
}

.grid_1_of_2 h4{
	font-size: 1.5em;
	color: #464F54;
	font-weight:300;
	padding:20px;
	border-bottom:1px solid #f4f4f4;
  background-color: #fff;
}
.grid_1_of_2.box{
	padding: 8%;

}
.grid_1_of_2.box h3{
	font-size: 1em;
	color: #464F54;
	font-weight:400;
}
.grid {
	display: block;
	float:left;
	margin-left:4%;
  background-color: #fff;
}
.grid:first-child { margin-left: 0; }

.images_3_of_1 {
	width:27.3%;
}
.span_2_of_3{
	width: 97.5%;
}
.images_3_of_1  img {
	margin-top:5px;
}
.span_2_of_3  h3 a{
	font-size: 0.6em;
	color:#52575a;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	line-height:1.3em;
}
.grid .span_2_of_3  h3 a:hover{
	color: #EA5F5F;
  text-decoration: none;
}
.span_2_of_3  p  {
	font-size:0.8725em;
	color: #acacac;
	line-height: 1.8em;
	margin-top: 8px;
}
.span_1_of_1,.span_1_of_2,.calender,.stories,.tab_style{
		float:none;
		width:100%;
	}
  .span_1_of_1{
  	float: left;
  	width:100%;
  }
  .content_left1_grid{
	padding: 8%;
	background: #ffffff;
	position: relative;
}
.content_left1_grid h3 a{
	text-transform: capitalize;
	font-size:1.5em;
	font-weight:900;
	color: #464F54;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.content_left1_grid h3 a:hover{
	color: #EA6060;
}
.content_left1_grid h4 a{
	text-transform: capitalize;
	font-size:1.5em;
	color: #464F54;
	font-weight:900;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.content_left1_grid h4 a:hover{
	color: #4FC6F8;
}
.content_left1_grid span{
	color: #BCC1C4;
	font-weight:200;
}
.content_left1_grid p{
	margin-top:7%;
	font-size:0.95em;
	color:#272D30;
	line-height: 1.8em;
	font-weight:300;
}
.content_left1_grid p a{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #EA6060;
	text-transform:capitalize;
}
.content_left1_grid p a:hover{
	color:#464F54;
	text-decoration:underline;
}
.background-div{
  background-color: #f3f3f3;
  height: 100%;
}
.grid_right1 h4 a:hover{
  color:#464F54;
  text-decoration: none;
}
.cause-block{
  background-color: #fff;
  margin-bottom:1em;
  margin-top:1em;

}
.question-detail{
  background-color: #fff;
  margin-top: 1em;
}
.sub-menu{
  background-color: #fff;
  height: 45px;
  /*margin-top: -1.2em;*/
  font-size: 16px;
  padding-top: 15px;
  text-decoration: none !important;
  border-top-color: #C0392B;
  border-top:1px solid #95a5a6;
}
.sub-menu a{
  /*background-color: #fff;*/
  border-top-color: #C0392B;
  border-top:1px solid #C0392B;
  color:#464F54;
  text-decoration: none !important;
}
.sub-menu a:hover{
  background-color: #f3f3f3;
  color:#464F54;
}
.sub-menu a.active {
  border-top-color: #C0392B;
}

.label-dark{
  background-color:#2c3e50;
  color:#000;
}
.cause-block-1{
  background-color:#f3f3f3;
}

.nav-tabs-custom1 > .nav-tabs > li.active > a,
.nav-tabs-custom1 > .nav-tabs > li.active:hover > a {
  background-color: #fff;
  color: #C0392B;
}
