
<div class="panel panel-primary navbar-custom navbar-color" style="border:none">
  <!-- Default panel contents -->
  <div class="panel-heading">Trending Causes</div>

  <ul class="list-group">
      <% Cause.order("RANDOM()").limit(7).each do |article| %>
        <li class="list-group-item"><%= link_to article.intro, cause_path(:id => article.id), class: 'icon-text' %></a></li>
    <% end %>
  </ul>
</div>


      <% if user_signed_in? %>
        <div class="panel panel-primary navbar-custom" style="border:none">
  <!-- Default panel contents -->
          <div class="panel-heading">Update Interests</div>
        <br/>
        <p>
          <% current_user.interests[0..2].sort.each do |interest| %>
            <%= link_to interest.titleize, questions_path(:topic => interest) %> .
          <% end %>
          <% if current_user.interests.length > 3 %>
            and <%= current_user.interests.length - 3 %> more
          <% end %>
        </p>
        
        <center>
          <button class="btn btn-ask2" data-toggle="modal" data-target="#addInterestsModal">Add More</button><br/>
        </center>
      </div>
    <% end %>