<div class="left-bar">
  <div class="row">
    <div class="left-bar-comp">
      <%= link_to questions_path(:type => :asked), class: "left-bar-link" do %>
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><span id="icon-text">Questions</span>
      <% end %>
      <br/>

      <%= link_to questions_path(:type => :answered), class: "left-bar-link" do %>
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><span id="icon-text">Answers</span>
      <% end %>
      <br/>

      <%= link_to questions_path(:type => :following), class: "left-bar-link" do %>
        <i class="icons glyphicon glyphicon-heart"></i><span id="icon-text">Following</span>
      <% end %>
      <br/>
    </div>
  </div>
</div>
