<div class="col-md-2 left-bar">
  <div class="row">
    <div class="left-bar-comp">
      <%= link_to new_user_registration_path, class: "left-bar-link" do %>
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><span id="icon-text">Answers</span><span id="icon-sub-text">Edit</span>
      <% end %>
      <br/>
      <%= link_to new_user_registration_path, class: "left-bar-link" do %>
        <i class="icons glyphicon glyphicon-heart"></i><span id="icon-text">Causes</span><span id="icon-sub-text">Edit</span>
      <% end %>
      <br/>
      <%= link_to new_user_registration_path, class: "left-bar-link" do %>
        <i class="icons glyphicon glyphicon-globe"></i><span id="icon-text">Contests</span><span id="icon-sub-text">Edit</span>
        <br/>
      <% end %>
      <%= link_to new_user_registration_path, class: "left-bar-link" do %>
        <i class="icons glyphicon glyphicon-edit"></i><span id="icon-text">Articles</span><span id="icon-sub-text">Edit</span>
        <%end%>
    </div>
  </div>
</div>
