<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @user = current_user %>
          <% @question = Question.new%>
          <%= form_for @question,:url =>{ :controller =>"questions", :action =>"create"}  do |f| %>
          <div class="form-group">
            <div class="row" style="padding-top:1em;">
              <label class="col-md-1 col-md-offset-1 control-label"><span class="glyphicon glyphicon-search"></span></label>
              <div class="col-md-5">
                <%= f.text_field :content, autofocus: true,id: 'ask-question',class: 'question-ask-field form-control',placeholder: 'What do you want to ask?'%>
              </div>
            </div>
          </div>
          <!-- for image upload -->
          <div class="row" style="border-left: 1px solid #e7e7e7;padding-top:3em;">
            <center>
              <%= f.file_field :image,class: 'btn btn-image-field' %>
            </center>
          </div>
          <div class="row" style="padding-top:3em;">
            <center>
              <%= f.submit "Post Question",class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <%end%>
        </div>
      </section>
    </div>
  </div>
</div>
