<div class="nav-bar">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 project-name">
      projectQ
    </div>
    <div class="col-md-3 col-md-offset-1">
      <br/>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon"></span>
        <input class="form-control" id="search-bar" placeholder="search" style="background-color:#fff;border:none;border-bottom:1px solid #383838;outline:none;">
      </div>
    </div>
    
    <div class="col-md-3 col-md-offset-2 button-group-nav">
      <br/>
      <!-- New users buttons -->
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-ask1"%>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-ask1"%>
    </div>
  </div>
</div>