<div>
	<div class="grid grid_1_of_2" style="margin-top:1em">
		<h4>Similar Questions</h4>
		<div class="clear"></div>
		<% @questions = Question.order('created_at DESC').limit(7).sort_by {|q| -q.answers.count} %>
		<% @questions.each do |question| %>
        	<div class="image group">
			<div class="grid span_2_of_3">
				<h3><a><%= link_to question.content, question_path(:id => question.id) %></a></h3>
			 </div>
			 <div class="clear"></div>
		 </div>
      	<% end %>
	</div>
</div>
