<div class="row ">
  <div class="col-sm-3">
    <div class="sidebar-nav" style="position: fixed; width: 275px;">
      <div class="navbar navbar-default navbar-custom" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">

          <ul class="nav navbar-nav">
            <li class=" hvr-sweep-to-right"><a href="<%= questions_path(:type => :following) %>" >Questions</a></li>
            <li class=" hvr-sweep-to-right"><a href="<%= contests_path(:type => :open) %>" >Contests</a></li>
            <li class=" hvr-sweep-to-right"><a href="<%= causes_path(:type => :followed) %>">Causes</a></li>
            <li class=" hvr-sweep-to-right"><%= link_to 'Read Articles', articles_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
