<div class="modal bnr-modal fade" id="myModal1" tabindex="-1" role="dialog" style="height:200px;">
  <div class="modal-dialog" role="document" style="height:200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body modal-spa" style="height:200px;">
          <!-- create a new question using this modal -->
          <div class="row" style="border-left: 1px solid #e7e7e7;">
              <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-ask pull-right', :id => "signup"  %>
              <%= link_to "Login", new_user_session_path, :class => 'btn btn-ask pull-left', :id => "login"  %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
