<div class="col-md-3 suggestions">
  <div class="heading-7"><u>Trending</u></div>
  <div class="details">
    <li>Xbox One S Announcement</li>
  </div>
  <br/>
  <div class="details">
    <li>Xbox One S Announcement</li>
  </div>
  <br/>
  <div class="details">
    <li>Xbox One S Announcement</li>
  </div>
  <br/>
  <div class="details">
    <li>Xbox One S Announcement</li>
  </div>
  <br/>
  <div class="details">
    <li>Xbox One S Announcement</li>
  </div>
  <br/>
</div>
